source https://nuget.org/api/v2

group Build
  source https://nuget.org/api/v2
  
  nuget FAKE
  nuget docfx.msbuild
  nuget NUnit2Report.Console.Runner 
  
group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2